*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

/*********** all.php *************/

.home{
	background-image: url('assets/fond.jpeg');
	background-size: cover;
}

a{
	text-decoration: none;
	color: black;
}

.titre{
    display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.allpokemon{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.swiper{
	width: 85%;
	height: 350px;
}

.card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-color: white;
	border: 5px solid grey;
	border-radius:20px;
	padding: 20px 30px;
	margin: 20px;
}

img{
	width:80px;
	height:80px;
	margin: 10px 0;
}

p{
	font-size: 14px;
}

.ATKDEF{
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.ATKDEF_item{
	padding: 0 5px;
}


/************ combat.php ***************/

.fight{
	background-image: url('assets/fond_combat.jpg');
	background-size: cover;
}

.PP{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 21px 0;
}

.PP1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nom_pokemon{
	font-size: 30px;
}

.PV{
	font-size: 20px;
	border: 3px solid black;
	border-radius: 15px;
	padding: 15px;
	background-color: white;
	color: black;
}

.img_combat{
	width: 330px;
	height: 330px;
}

.zone_BC{
	display: flex;
	flex-direction: row;
	background-color: black;
	border: 7px solid grey;
	border-radius: 10px 10px 0 0;
}

.BC{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 20px;
}

button{
	font-size: 16px;
	padding: 10px;
	border: 3px solid black;
	border-radius: 15px;
}

button:hover{
	font-size: 16px;
	padding: 10px;
	border: 3px solid black;
	border-radius: 15px;
	background-color: red;
	color: white;
}

.button_combat{
	margin: 10px 0;
}

.commentaire{
	width: 100%;
	background-color: white;
}

.text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.text_comm{
	font-size: 20px;
	padding: 15px;
}

.return_list{
	margin-left: 10px;
}